body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #B7BBBD;
    color: #EAEBEB;
}

/* Scrolling Animation */

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
  }

  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }

  .revealt {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1.5s all ease;
  }

  .revealt.active {
    transform: translateY(0);
    opacity: 1;
  }

  .revealc {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s all ease;
  }

  .revealc.active {
    transform: translateY(0);
    opacity: 1;
  }

/* Header */

nav {
    background-color: #163D57;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 1em;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 2px #797C93;
    transition: all 80ms ease-out;

}

nav.scrolled {
    box-shadow: 0px 10px 15px -7px #242128;
}

nav ul {
    margin: 2em;
    text-align: center;
}

nav li {
    display: inline-block;
    width: 80px;
}

nav a {
    color: #EAEBEB;
    text-decoration: none;
}

/* About Me Banner */

.about-me {
    position: relative;
    top: 6em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #163D57;
    width: auto;
    height: fit-content;
    border-radius: 2em;
}

.drop-shadow {
    filter: drop-shadow(0.4rem 0.4rem 0.2rem #797C93);
}

.about-me-image {
    float: left;
    margin: 1em;
    border-radius: 6em;
}

.about-me-text {
    padding-right: 2em;
    display: flex;
    align-items: center;
}

.skills {
    background-color: #EAEBEB;
    height: fit-content;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    flex: 1 1 165em;
    border-top-left-radius: 4em;
    border-bottom-left-radius: 4em;
}

/* Education Section */

.education-section-title {
    position: relative;
    top: 4em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #163D57 !important;
    font-size: 1.5em;
}

.Education {
    position: relative;
    top: 6em;
    background-color: #163D57;
    margin: 1em;
    padding: 1em 1em 1em 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5em;
    
}

.education-title {
    position: absolute;
    top: 1em;
    right: 1em;
    bottom: 1em;
    left: 2em;
}

.Devry-University {
    padding: 1em;
    margin-right: 0.5em;
    flex: 1 1 190em;
}

.code-cademy {
    padding: 1em;
    margin-left: 0.5em;
    flex: 1 1 auto;
}

/* Projects */

.projects-section-title {
    position: relative;
    top: 4em;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #163D57 !important;
    font-size: 1.5em;
}

.line {
    width: 35em;
    height: 0;
    border: 2px solid #163D57;
    margin: 1em;
}

.project-1 {
    position: relative;
    top: 6em;
    margin: 1em;
    padding: 1em 1em 1em 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em 0em;
    border: solid;
    border-color: #163D57;
    background-color: #EAEBEB;
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
}

.project-1-title {
    grid-column: 1 / 5;
    grid-row: 1;
    color: #163D57 !important;
    padding-left: 1.5em;
}

.project-1-info {
    background-color: #163D57;
    padding: 2em;
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    border-bottom-left-radius: 4em;
    border-top-left-radius: 4em;
}

.project-1-images {
    border: solid;
    border-color: #163D57;
    background-color: #EAEBEB;
    padding: 2em;
    grid-column: 4 / 7;
    grid-row: 2 / 2;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
}

.project-1-tech {
    padding: 0.5em;
    background-color: #163D57;
    grid-column: 6 / 6;
    grid-row: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4em;
}

.project-2 {
    position: relative;
    top: 6em;
    margin: 1em;
    background-color: #163D57;
    padding: 1em 1em 1em 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em 0em;
    border: solid;
    border-color: #163D57;
    background-color: #EAEBEB;
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
}

.project-2-title {
    grid-column: 1 / 5;
    grid-row: 1;
    color: #163D57 !important;
    padding-left: 1.5em;
}

.project-2-info {
    background-color: #163D57;
    padding: 2em;
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    border-bottom-left-radius: 4em;
    border-top-left-radius: 4em;
}

.project-2-images {
    border: solid;
    border-color: #163D57;
    background-color: #EAEBEB;
    padding: 2em;
    grid-column: 4 / 7;
    grid-row: 2 / 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
}

.project-2-tech {
    padding: 0.5em;
    background-color: #163D57;
    grid-column: 6 / 7;
    grid-row: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4em;
}

.project-3 {
    position: relative;
    top: 6em;
    margin: 1em;
    background-color: #163D57;
    padding: 1em 1em 1em 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em 0em;
    border: solid;
    border-color: #163D57;
    background-color: #EAEBEB;
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
}

.project-3-title {
    grid-column: 1 / 5;
    grid-row: 1;
    color: #163D57 !important;
    padding-left: 1.5em;
}

.project-3-info {
    background-color: #163D57;
    padding: 2em;
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    border-bottom-left-radius: 4em;
    border-top-left-radius: 4em;
}

.project-3-images {
    border: solid;
    border-color: #163D57;
    background-color: #EAEBEB;
    padding: 2em;
    grid-column: 4 / 7;
    grid-row: 2 / 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
}

.project-3-tech {
    padding: 0.5em;
    background-color: #163D57;
    grid-column: 6 / 7;
    grid-row: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4em;
}

/* Media Queries */



/* Footer */

footer {
    position: relative;
    top: 10em;
    text-align: center;
    background-color: #163D57;
}